@model EditPlaylistViewModel
@{
    ViewData["Title"] = "Edit Playlist";
}

<h1 class="playlist-title">@Model.Title</h1>
<br />

<form asp-controller="Playlist" asp-action="Edit" method="post" class="form-horizontal">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Title" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input type="text" asp-for="Title" class="form-control" placeholder="@Model.Title" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-create">Confirm</button>
        </div>
    </div>
</form>
<br />


<form asp-controller="Playlist" asp-action="AddSong" asp-route-id="@Model.ID" enctype="multipart/form-data">
    <div class="form-group">
        <input asp-for="File" type="file" accept=".mp3,.wav" required />
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-create">Add</button>
        </div>
    </div>
</form>
<br />


<div class="container-fluid" style="margin:10px">
    @foreach (Song song in Model.Songs)
    {
        <div class="row" style="margin:10px">
            <h3 class="col">@song.Title</h3>
            <a class="btn btn-play align-content-lg-end col-md-1" style="margin-right:5px" asp-action="AudioPlayer" asp-controller="Player" asp-route-id="@Model.ID" asp-route-firstSongIndex="@Model.Songs.FindIndex(s => s.ID == song.ID)">Play</a>
            <form class="align-content-lg-end col-md-1" style="margin-right:5px" method="post" asp-action="DeleteSong" asp-controller="Playlist" asp-route-id="@Model.ID" asp-route-songId="@song.ID">
                <button class="btn btn-delete" type="submit">Delete</button>
            </form>
        </div>
    }
</div>

