@model AudioPlayerViewModel
@{
    ViewData["Title"] = "Player";
}

<head>
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="/js/wavesurfer.js"></script>
    <script type="text/javascript" src="~/js/audioplayer.js"></script>
    <script>
        songsPaths = @Html.Raw(Json.Serialize(Model.SongsPaths));
        songsTitles = @Html.Raw(Json.Serialize(Model.SongsTitles));

        currentSongIndex = @Model.FirstSongIndex;
        lastSongIndex = @Model.SongsPaths.Length-1;
    </script>
</head>


<h2>
    @Model.Playlist.Name
</h2>

<div id="waveform"></div>
<br />
<h4 id="song-title"></h4>
<br />
<br />

<input type="button" id="play" value="Play" class="btn btn-primary" onclick='PlayPause()'/>
<br/>
<input type="button" id="previous" value="Previous" class="btn btn-primary" onclick='PreviousSong()'/>
<input type="button" id="previous" value="Next" class="btn btn-primary" onclick='NextSong()'/>
<br/>
<input type="button" id="mute" value="Mute" class="btn btn-primary" onclick='ToggleMute()'/>



